{% extends  'main.html' %}

{% block content %}
#method="post" action="/store/"#

 <form name="form-users" id="formUsers" method="post" action="/store/">

    <div class = "col-6 mt-4 m-auto">
        {% if msg  %}
        <div class= " alert {{class}}">
            {{msg}}
        </div>
        {%  endif  %}

      {% csrf_token %}
      <input  type="text" name="name" id="name" placeholder="Nome">
        <input  type="text" name="last-name" id="last-name" placeholder="Sobrenome">
      <input type="text" name="user" id="user" placeholder="Nome do usuário">
      <input type="password" name="password" id="password" placeholder="Senha">
      <input type="password" name="passwconf" id ="passconf" placeholder="Repita sua senha">
      <input type="email" name="email" id ="email" placeholder="Email">
      <input type="submit" value="Cadastrar">
    </div>
  </form>
{% endblock %}